@use "global";

$item1-bg: hsl(256, 67%, 59%);
$item2-bg: white;
$item3-bg: hsl(39, 100%, 71%);
$item4-bg: hsl(254, 88%, 90%);
$item5-bg: $item1-bg;
$item6-bg: white;
$item7-bg: hsl(31, 66%, 93%);
$item8-bg: $item3-bg;

body {
  background: #f1f1f1;

  p {
    font-size: 18px;
  }
}

.grid-container,
.grid-container .grid1,
.grid-container .grid2 {
  display: grid;
}

.grid-container {
  align-content: center;
  justify-content: center;
  padding: 1rem;

  h2 {
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 0.9;
  }
}

.grid-container .grid1,
.grid-container .grid2 {
  padding-top: 1rem;
  gap: 1rem;
}

.item {
  border-radius: 8px;
  padding: 1.5em 1em 1em;
}

.item1 {
  padding: 2.5em 2em 1.5em 2em;

  h1 {
    font-size: 48px;
    margin-bottom: 14px;
    line-height: 1;
  }

  h1,
  p {
    text-align: center;
  }
  p {
    color: hsl(254, 88%, 90%);
  }
  .stars {
    width: 150px;
    margin: auto;

    img {
      max-width: 100%;
    }
  }
}

.item1,
.item5 {
  background-color: $item1-bg;
  color: white;
}
.item2 {
  background-color: $item2-bg;

  .platforms {
    width: 100%;
    margin-bottom: 14px;
    overflow: hidden;

    img {
      max-width: 100%;
    }
  }
}
.item3,
.item8 {
  background-color: $item3-bg;
}

.item3 {
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .consistent-schedual {
    width: 180px;
    position: relative;
    top: 5px;

    img {
      max-width: 100%;
    }
  }
}

.item4,
.item5 {
  text-align: center;
}

.item5 {
  padding: 1.5em 4em 1em;

  h2 {
    margin-bottom: 8px;
  }
  .grow-followers {
    width: 210px;
    margin: auto;
    margin-bottom: 30px;

    img {
      max-width: 100%;
    }
  }
}

.item4 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: $item4-bg;

  .schedual-posts {
    margin-bottom: 2rem;
    width: 100%;

    img {
      max-width: 100%;
    }
  }
}
.item6 {
  background-color: $item6-bg;

  .audience-growth {
    width: 180px;

    img {
      max-width: 100%;
    }
  }

  h2 {
    font-size: 48px;
    margin-bottom: 10px;
  }
}
.item7 {
  background-color: $item7-bg;

  .create-post {
    width: 180px;

    img {
      max-width: 100%;
    }
  }
}

.item8 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .AI-content {
    width: 200px;

    img {
      max-width: 100%;
    }
  }
}

@media screen and (min-width: 1024px) {
  body {
    padding: 2rem 10rem;

    .grid-container,
    .grid-container .grid1,
    .grid-container .grid2 {
      gap: 1.5rem;
    }

    .grid-container {
      grid-template-columns: 1fr 3fr;
      grid-template-areas: "a2 a1";

      .item {
        padding: 2em 1.5em 1.5em;
      }

      .grid1 {
        grid-area: a1;

        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
          "b1 b1 b2"
          "b3 b4 b2"
          "b5 b6 b6";

        .item1 {
          grid-area: b1;
        }
        .item4 {
          grid-area: b2;
          text-align: left;
          padding-right: 0;

          .schedual-posts {
            overflow: hidden;
            position: relative;
            right: 0;
            flex: 1 280px;
            width: 200px;
            img {
              height: 100%;
              width: 500px;
              max-width: fit-content;
            }
          }
        }
        .item2 {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          grid-area: b3;
          padding-right: 0;

          .platforms {
            width: 200px;
            position: relative;
            right: 0;
            img {
              width: 272px;
              max-width: fit-content;
            }
          }
        }
        .item3 {
          grid-area: b4;
          padding-bottom: 0;

          // .consistent-schedual {
          //   position: relative;
          //   top: 1.3em;
          // }
        }
        .item6 {
          grid-area: b5;

          .audience-growth {
            width: 180px;

            img {
              max-width: 100%;
            }
          }
        }
        .item5 {
          grid-area: b6;
          text-align: left;
          display: flex;
          padding: 0;
          padding-left: 1em;
          align-items: center;

          .grow-followers {
            margin: 0;

            img {
              width: 200px;
            }
          }

          h2 {
            font-size: 32px;
          }
        }
      }
      .grid2 {
        grid-area: a2;

        .item7 {
          padding-top: 4rem;
        }
      }
    }
  }
}
